@charset "iso-8859-1";
body { font-family: hilogi18; font-size: 8px; color: #8E8E8E; background-color: #040404; background-repeat: repeat-y;

body {
  position: relative;
  margin: auto;
  background: #000000 url("/graphics/backgrounds/num.gif") repeat scroll; 
  background-repeat: no-repeat;
  font-size: 8px;
  font-family: hilogi18;
  width: 730px;
}

.header { font-family: hilogi18; font-size: 8px; color: #C2C2C2; background-color: 
none; border: #C2C2C2; border-style: solid; font-weight:bold; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 2px; border-left-width: 0px}

a:link, a:visited, a:active {color: #1CD8F5; text-decoration: none;}
a:hover      { color: #7AFF00; }

blockquote {
  margin-top:2;
  margin-bottom:2;
}
